body {
  font-family: sans-serif;
}

.layout {
  display: flex;
}

.menu {
  width: 200px;
  background: #f0f0f0;
  padding: 1em;
}

.main {
  flex-grow: 1;
  padding: 1em;
}

button {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
}

#resultBox {
  margin-top: 1em;
  background: #f4f4f4;
  padding: 1em;
}

.angebotdetails {
  margin-bottom: 2rem;
}

.angebotdetails > ul {
  font-size: 1.1rem;
}

.angebotdetails:last-child {
  margin-bottom: 0;
}
